@import url('https://fonts.googleapis.com/css?family=Muli|Raleway');

$google-font: Muli;
$table-back: #4d4d4d;

$list-style: none;

$default-object: (mobile: 576px,
        teblet: 768px,
        desktop: 992px,
        larg: 1200px);